<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794771455593-qgopgg21sljqc6fvfkbn1umramumf673.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794771455593-qgopgg21sljqc6fvfkbn1umramumf673</string>
	<key>API_KEY</key>
	<string>AIzaSyDlBeIL2q6gyJf9ulWQ3yZSfUb-jmgcZd0</string>
	<key>GCM_SENDER_ID</key>
	<string>794771455593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-6756c</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-6756c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794771455593:ios:238fab708b71a6193bacf8</string>
</dict>
</plist>